@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    scroll-behavior: smooth;
}

.container
{
    background: linear-gradient(#0146619a, #023e5a8f) ,url('../Img/everest-mountain-sky-tops-wallpaper-preview.jpg');
    background-size: cover;
    height: 150vh;
}

.container .content
{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transform: translate(-50%, -50%);
    
}

.container .content .title-page
{
    color: #fff;
    width: 400px;
}

.container .content .title-page .btn
{
    position: relative;
    top: 40px;
    background: #fff;
    padding: 20px 60px;
    border-radius: 10px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.container-parallax
{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    scroll-behavior: smooth;
    -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
    transition-timing-function: cubic-bezier(.23,1,.32,1);
}

section
{
    min-width: 100%;
    height: auto;
    display: flex;
}

section .box
{
    width: 500px;
    padding: 30px;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    margin: 10px;
}

section .box img
{
    width: 300px;
    object-fit: cover;
}

section .box h1
{
    text-transform: uppercase;
    padding: 10px;
}

section .box p
{
    font-size: 0.8em;
    padding: 10px;
}

section .box .btn
{
    text-decoration: none;
}

section .box .btn:hover
{
    text-decoration: underline;
}